:root {
    --navbar-color: #41959D;
    --hero-color: #C0DEE5;
    --btn-color: #07575B;
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: 
        "header"
        "main";
    grid-template-rows: 5em 1fr;
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-color: #F5F5F5;
}

header {
    grid-area: header;
    background-color: var(--navbar-color);
    position: sticky;
    z-index: 1;
}

nav {
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

nav>img:first-of-type {
    width: 4em;
    height: 4em;
}

.icon {
    display: flex;
    gap: 3em;
}

.icon>img {
    width: 2.5em;
    padding: 0.3em;
}

.icon>img:hover {
    cursor: pointer;
    background-color: #2a858a;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 4em;
}

li {
    cursor: pointer;
    padding: 0.5em;
    font-size: 1.3em;
    margin: 0.5em;
}

li:hover {
    background-color: #188187;
    transition: 0.5s;
}

li:nth-of-type(2) {
    background-color: #188187;
}

a {
    all: unset;
}

