:root {
    --navbar-color: #41959D;
    --hero-color: #C0DEE5;
    --btn-color: #07575B;
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-color: #F5F5F5;
}

header {
    background-color: var(--navbar-color);
    position: sticky;
    z-index: 1;
}

nav {
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

nav>img:first-of-type {
    width: 4em;
    height: 4em;
}

.icon {
    display: flex;
    gap: 3em;
}

.icon>img {
    width: 2.5em;
    padding: 0.3em;
}

.icon>img:hover {
    cursor: pointer;
    background-color: #2a858a;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 4em;
}

li {
    cursor: pointer;
    padding: 0.5em;
    font-size: 1.3em;
    margin: 0.5em;
}

li:hover {
    background-color: #188187;
    transition: 0.5s;
}

li:first-of-type {
    background-color: #188187;
}

a {
    all: unset;
}

/* section info */
/*
.info-card {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3em;
}

.info-card div {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    background-color: #ffffff;
    gap: 1em;
}
*/

.main-section {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "a b c d"
        "e f g ."
    ;
}

.info-card { 
    margin-top: 3em;
    width: 100%;
    grid-area: a; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    gap: 2em;
}

.info-card > div:nth-of-type(1) {
    grid-area: a;
}
.info-card > div:nth-of-type(2) {
    grid-area: b;
}
.info-card > div:nth-of-type(1) {
    grid-area: c;
}

.event-terdekat {
    grid-area: e;
}

.analisis-vendor { 
    grid-area: f; 
}

.jadwal-event { 
    grid-area: g; 
}

/* Tambah elemen baris kedua kalau diperlukan */
